.weathericon{
      width: 170px;
      margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 900;
}

.weather h2{
    font-size: 40px;
    font-weight: 450;
    margin-top: -10px;
}

